<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title></title>
	<style>
	.underlayner{
		font-size: 5pt;
		font-weight: normal;
	}
	</style>
</head>
<body>
<div xmlns="http://www.w3.org/1999/xhtml" style="     width: 9in;      font-size: 10pt;     font-weight: bold;">
	<div style="     float: left;     display: inline-block; "><img src="logo.jpg" alt="" style="     width: 3.5in; "></div>
	<div style="     display: inline-block;     margin-left: 140px;      font-size: 7pt;     margin-top: 22px;">
					Приложение №1<br>
					к Правилам обязательного страхования гражданской<br>
					ответственности владельцев транспортных средств<br>
					ФИЛИАЛ&nbsp;___________________________________<br>
					Агентство&nbsp;________________________________
	</div>
	<div style="
    margin-top: 28px;
    text-align: center;
    font-size: 12pt;
">ООО "СГ"АСКО"</div>
<div style="
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
">Заявление</div>
<div style="
    text-align: center;
    margin-bottom: 10px;
">о заключении договора обязательного страхования гражданской ответственности<br>владельца транспортного средства</div>
<div style="
    float: left;
    display: inline-block;
">1. Страхователь</div>
<div style="
    margin-left: 16px;
    display: inline-block;    
">_____________________________________________________________________________________________________</div>
<div style="
    position: absolute;
    left: 302px;
    top: 236px;
">Семыкин Александр Александрович</div>
<div style="
    padding-left: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 5pt;  
">(полное наименование юридического лица или фамилия, имя, отчество гражданина)</div>
	<div style="
    float: right;
">____________________________________________________________</div>
	<div>_________________________________________________________</div>
	<div class="underlayner" style="
    float: left;
    margin-left: 150px;
">(дата рождения гражданина)</div>
	<div class="underlayner" style="
    float: right;
    margin-right: 182px;
">(ИНН юридического лица)</div>
	<div style="position: absolute; top: 266px; left: 172px;">01.08.04</div>
<div style="position: absolute; top: 266px; right: 107px;">098765432345678</div>
<div>______________________________________________</div>
<div>________________________</div>
<div>________________________________</div>
<div>(свидетельство о регистрации юридического лица либо документ, удостоверяющий личность)</div>
БЮ
<div>2. Адрес</div>
<div>__________</div>
	</div>

	
</body>
</html>